body {
  background: #d4224f;
  background: linear-gradient(120deg,#d4224f,#91186b);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  letter-spacing: 0.05em;
  padding: 1em;
  text-align: center;
}
