<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'home' }) %>
  </head>
  <body>
    <h1>james starkie</h1>
    <p>front end dev / hobbyist filmmaker</p>
    <% include ../partials/menu.ejs %>
    <% include ../partials/social.ejs %>

    <script type="text/javascript" src="/manifest.js"></script>
    <script type="text/javascript" src="/vendor.js"></script>
    <script type="text/javascript" src="/app.js"></script>
  </body>
</html>
