<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'home' }) %>
  </head>
  <body class="home">
    <h1>james starkie</h1>
    <p>front end dev / hobbyist filmmaker</p>
    <%- menu %>
    <% include ../partials/social.ejs %>
  </body>
</html>
