<!doctype html>
<html>
  <head>
    <%- include('../partials/head.ejs', { title: 'snap' }) %>
  </head>
  <body class="snap">
    <div id="gallery"><%- body %></div>
    <div id="lightbox"></div>
    <script>
      window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>;
    </script>
    <script type="text/javascript" src="/manifest.js"></script>
    <script type="text/javascript" src="/vendor.js"></script>
    <script type="text/javascript" src="/snap.js"></script>
  </body>
</html>
